body {
  background-image: url(../img/bg.jpg);
  background-size: 100vmax;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  color: aliceblue;
}

h1 {
  font-family: 'Knewave', cursive;
  font-size: 70px;
  color: white;
  text-align: center;
}

h2 {
  font-family: 'Knewave', cursive;
  font-size: 30px;
  color: white;
  text-align: center;
}

#output {
  display: none;
}